.maini{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .headim{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 62px;
            text-align: center;
            letter-spacing: 0.22px;
            color: #292F36;
        }
        p{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.22px;
            color: #4D5053;
        }
    }
    .cars{
        margin-top: 100px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}