.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    h1 {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.22px;
        color: #292F36;
    }
    p {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.22px;
        color: #4D5053;
    }
    button {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.36px;
        color: #4D5053;
        background: transparent;
        border: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}