@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.mainko {
    width: 100%;
    height: 90.6vh;
    display: flex;
    background-image: url("../../../public/IMAGE.svg");
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .yazila {
        width: 100rem;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        h1 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 96px;
            letter-spacing: 0.22px;
            color: #292F36;
        }
        p{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.22px;
            color: #4D5053;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 211px;
            height: 75px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.72px;
            color: #FFFFFF;
            background-repeat: no-repeat;
            border: 1px solid transparent;
            cursor: pointer;
            background-image: url("../../../public/arrow.svg");
        }
    }
}